.intro__inner {
    img {
        width: 100%;
        height: auto;
        border-radius: 1.3333rem;
        margin: 1.25rem 0;

        @media (max-width:550px) {
            height: 13.3333rem;
            object-fit: cover;
            margin: 0.55rem 0;
        }
    }

    h1 {
        max-width: 53.3333rem;
        color: #000;
        font-size: 2.3333rem;
        font-weight: 600;
        line-height: 1.3;
        text-transform: uppercase;
        display: inline-block;

        @media (max-width:768px) {
            font-size: 1.8333rem;
        }

        ;

        @media (max-width:480px) {
            font-size: 1.2333rem;
        }

        ;
    }

}

.intro__title--box {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:1090px) {
        display: block;
    }

    @media (max-width:600px) {
        margin: 1rem 0;
    }

    .btn {
        @media (max-width:1090px) {
            margin-top: 1rem;
        }

        @media (max-width:600px) {
            padding: .4333em 1.4em;
            margin: 1rem 0;
        }

        @media (max-width:480px) {
            padding: .2333em .7em;
            margin: .5rem 0;
            font-size: .8rem;
        }
    }





}