.sliders__wrapper {
    display: flex;
    margin: 2.6667rem 0;
}

.container_slider {
    max-width: 70%;
    margin: 0 auto;

    @media (max-width:1000px) {
        max-width: 90%;
    }

}

.slider__info {
    width: 30vw;
    display: flex;
    justify-content: space-between;

    @media (max-width:1505px) {
        display: none;
    }

    ;


    h3 {
        color: $white;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        text-transform: uppercase;
    }

    p {
        color: $gray;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 2.6667rem;
    }

    &>.border {
        display: inline-block;
        width: .0667rem;
        height: 100%;
        background-color: $black;
        opacity: .5;
        box-shadow: .1333rem .0667rem .0667rem #857e7e;
    }

    &--box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &.toggle {
        display: none;

        @media (max-width:1505px) {
            p {
                padding-bottom: 1.3333rem;
            }

            display: block;
            width: 100%;
            // justify-content: space-around;
        }
    }
}

// SLIDER

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider {
    position: relative;
}

.slider__item {
    padding-left: 2rem;

    @media (max-width:1410px) {
        padding: 0;
    }

}

.slider__wrapper {
    
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 1.3333rem;
        overflow: hidden;
    }

    @media (max-width:1505px) {
        width: 34.8667rem;
        height: auto;
        margin: 0 auto;
    }

    @media (max-width:650px) {
        width: auto;
    }

}

.slick-arrow {
    width: 3.3333rem;
    height: 1.0667rem;
    background-color: transparent;
    border-radius: 1.3333rem;
    border: .0667rem $gray solid;

    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;

    &.slick-prev {
        left: -42.7%;
        top: 93%;
        background: url(/inhome/img/leftarrow.svg) center center no-repeat;
        transition: background-image .3s linear, border-color .3s linear;

        @media (max-width:1505px) {
            left: 0%;
            top: 48%;
        }

        &:hover {
            background: url(/inhome/img/leftarrow_white.svg) center center no-repeat;
            border-color: white;
        }

    }

    &.slick-next {
        right: 131%;
        top: 93%;
        background: url(/inhome/img/rightarrow.svg) center center no-repeat;
        transition: background-image .3s linear, border-color .3s linear;

        @media (max-width:1505px) {
            right: 0%;
            top: 48%;
        }


        &:hover {
            background: url(/inhome/img/rightarrow_white.svg) center center no-repeat;
            border-color: white;
        }
    }

}