.sliders__wrapper {
    display: flex;
    margin: 40px 0;
}

.container_slider {
    max-width: 70%;
    margin: 0 auto;

    @media (max-width:1000px) {
        max-width: 90%;
    }

}

.slider__info {
    width: 30vw;
    display: flex;
    justify-content: space-between;

    @media (max-width:94rem) {
        display: none;
    }

    ;


    h3 {
        color: $white;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        text-transform: uppercase;
    }

    p {
        color: $gray;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 40px;
    }

    &>.border {
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: $black;
        opacity: .5;
        box-shadow: 2px 1px 1px #857e7e;
    }

    &--box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// SLIDER

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider {
    position: relative;
}

.slider__item {
    padding-left: 30px;

    @media (max-width:1410px) {
        padding: 0;
    }

}

.slider__wrapper {
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
    }

    @media (max-width:1504.9995px) {
        width: 34.8667rem;
        height: auto;
        margin: 0 auto;
    }

    @media (max-width:650px) {
        width: auto;
    }

}

.slick-arrow {
    width: 50px;
    height: 16px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px $gray solid;

    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;

    &.slick-prev {
        left: -42.7%;
        top: 93%;
        background: url(/inhome/img/leftarrow.svg) center center no-repeat;
        transition: background-image .3s linear, border-color .3s linear;

        @media (max-width:1504.9995px) {
            left: 0%;
            top: 48%;
        }

        &:hover {
            background: url(/inhome/img/leftarrow_white.svg) center center no-repeat;
            border-color: white;
        }

    }

    &.slick-next {
        right: 131%;
        top: 93%;
        background: url(/inhome/img/rightarrow.svg) center center no-repeat;
        transition: background-image .3s linear, border-color .3s linear;

        @media (max-width:1504.9995px) {
            right: 0%;
            top: 48%;
        }


        &:hover {
            background: url(/inhome/img/rightarrow_white.svg) center center no-repeat;
            border-color: white;
        }
    }

}