.sliders__wrapper {
    display: flex;
    margin: 2.6667rem 0;

    // @media (max-width:840px) {
    //     margin: 40px 0 80px 0;
    // }
    // @media (max-width:550px) {
    //     margin: 20px 0 60px 0;
    // }
    // @media (max-width:360px) {
    //     margin: 10px 0 40px 0;
    // }

}

.container_slider {
    max-width: 70%;
    margin: 0 auto;

    // @media (max-width:1000px) {
    //     max-width: 90%;
    // }

}

.slider__video {
    position: relative;
}

.slider__item--video {
    // padding-left: 2rem;

    // @media (max-width:1410px) {
    //     padding: 0;
    // }

}

.slider__wrapper--video {
    display: flex;
    gap: 30px;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 1.3333rem;
        overflow: hidden;
    }

    // @media (max-width:1505px) {
    //     width: 34.8667rem;
    //     height: auto;
    //     margin: 0 auto;
    // }

    // @media (max-width:650px) {
    //     width: auto;
    // }

}